name: Go-VulnCheck

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  osv-scanner:
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Set up Go
        uses: actions/setup-go@41dfa10bad2bb2ae585af6ee5bb4d7d973ad74ed # v5.1.0
        with:
          go-version-file: go.mod

      - name: Clean Go environment and install dependencies
        run: |
          go clean -cache -modcache -i -r
          go mod download
          go mod tidy

      - name: Build the project
        run: |
          go build ./...
          go test ./...

      - name: Install govulncheck
        run: go install golang.org/x/vuln/cmd/govulncheck@latest

      - name: Download OSV-Scanner
        run: |
          wget https://github.com/google/osv-scanner/releases/download/v1.8.1/osv-scanner_linux_amd64 -O osv-scanner
          chmod +x osv-scanner

      #- name: Run OSV-Scanner
      #  run: ./osv-scanner --recursive .

      - name: Run govulncheck
        run: govulncheck ./...
